*{
    margin: 0;
    padding: none;
}
.box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height:100vh;
    background-color: #aec1d4;
   
    background-color: #9ed4ef;
}

h1{
    text-align: center;
    font-size:2rem;  
}
input{
        justify-content: center; 
        align-items: center;
        width: 100%;
        text-align: center;

    }
.container{
    height:50vh;
    width: 40vh;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
    border-radius: 1rem;
     padding:2rem;
    margin:1rem 1.5rem 0rem 1.5rem;
}
.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap:1rem;
   
}
#btn10{
    width:12rem;
    height:2.5 rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color:#782835;
    border: none;
    padding:1rem;
    color: #efdec3;
    cursor:pointer;
}
#btn5{
    width:12rem;
    height:2.5 rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color:#782835;
    border: none;
    padding:1rem;
    color: #efdec3;
     
    cursor:pointer;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap:1rem;
    width: 100%;
}
input{
    width:100%;
    height: 1.2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border:1px solid #888f92;
    padding:1rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap:2rem;
}

#Calculator, #Reset{
    background-color: rgb(244, 191, 125);
    border: none;
    width:11rem;
    height:2.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 550;
    padding:1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

}
#Reset{
    background-color: #d99031;
   
}
